html
  include includes/header.pug
  style.
    .review img{
        height: 200px;
    }
    .review {
        padding: 10px;
        border-style: groove;
        border-radius: 8px;
    }
  body
    
    include includes/navbar.pug
    
    .container#main
      h1= title
      p Articles 
      .row
        for review in reviewList
          .col-6.col-sm-4.col-md-6.review
            a(href= review.url)
                img(src= review.image)
            .rtitle 
                h3
                    a(href= review.url) #{review.title} 
            .gamename Game: #{review.game}
            .postdate Posted on #{review.created} at 
                a(href= review.url) #{review.sname}
            .description.text-muted #{review.desc}
        
        if(page > 1)
            a(href= "/reviews/browse/" + (page - 1)) Previous 
            span.divvie | 
        a(href= "/reviews/browse/" + (page + 1)) Next
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js", integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js", integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js", integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy", crossorigin="anonymous")
    include includes/footer.pug
